body,html
{
	background-color: white;
	text-align: center;
}
header
{
	background-color: white;
	top:0;
	width: 100%;
	margin:0px;
	left: 0;
	text-align: center;
}
article
{
	width:80vw;
	margin-top: 4vh;
	margin-left: 6vw;
	margin-right: 10vw;
	background-color: white;
	margin-bottom: 13vh;
	text-align: justify;
	padding:30px;
	padding-bottom: 50px;
}
footer
{
	background-color: #0052cc;
	padding: 5px;
	height: 7vh;
	font-size: x-large;
	text-align: center;
	color:white;
	bottom: 0;
	position: fixed;
	width:100%;
	font-family: monospace;
	left: 0;
}
input[type=text]
{
	border-style: solid;
	border-color: #9999ff;
	margin:5px;
	text-align: center;
}
button,input[type=submit]
{
	padding: 10px;
	padding-right: 30px;
	padding-left: 30px;
}